
/** GLOBAL STYLES **/
body {
  font-family: sans-serif;
}

input {
  width: 50%;
  height: 30px;
  padding-left: 5%;
}

.wrapper {
  max-width: 70vw;
  max-height: 80vh;
  margin: 10vh auto 10vh auto;
}

.box-container {
  position: relative;
  max-width: 100%;
  max-height: 50px;
  border: 1px solid #c3c3c3;
  padding: 10px;
  margin-top: -1px; /* crude aligning box borders on top of each other */
}

.box-gradient {
  background: linear-gradient(#f0f0f0, #dfdfdf)
}

/* Overriding block display of all the classes within box-container */
input, label, .uncomplete, .complete, .text-area, .remove, .unchecked-amount-text{
  display: inline-block;
}

/* Absolute positioned clases */
.remove, .up-arrow, .down-arrow, .unchecked-amount-text {
  position: absolute;
}

/** HEADER STYLES **/

header label {
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

/** MAIN STYLES **/
main {
  height: 60vh;
  overflow-y: auto;
}

main ul {
  list-style: none;
  padding: 0;
}


/* Styled as an empty checkbox*/
.uncomplete {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
}

.complete {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  background-image: url('../images/check-mark.svg');
  background-size: 30px 28px;
  background-color: transparent;
}

li input, .text-area {
  width: 60%;
  height: 30px;
  margin-left: 10px;
  vertical-align: text-bottom;
  line-height: 30px;
  overflow: hidden;
  /* Add characte limit to item */
}

/* Shared properties */
.up-arrow, .down-arrow {
  top: 10px;
  right: 55px;
  width: 22px;
  height: 17px;
  background-size: 22px 17px;
  background-color: transparent;
}

.up-arrow {
  background-image: url('../images/up-arrow.svg');
}

.down-arrow {
  margin-top: 17px;
  background-image: url('../images/down-arrow.svg');
}

/* Buttons */
.remove {
  right: 10px;
  width: 36px;
  height: 36px;
  background-image: url('../images/trash-bin.svg');
  background-size: 36px 36px;
  background-color: transparent;
  border: 0;
  outline: none;
}


/** FOOTER STYLES **/

.unchecked-amount-text {
  right: 10px;
  top: 22px;
}
