
/** GLOBAL STYLES **/
body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 70vw;
  max-height: 80vh;
  margin: 10vh auto 10vh auto;
}

.box-container {
  max-width: 100%;
  max-height: 50px;
  border: 1px solid #c3c3c3;
  padding: 10px;
}

/** HEADER STYLES **/
label {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

header input {
  display: inline-block;
  width: 50%;
  height: 30px;
  padding-left: 5%;
}

/** MAIN STYLES **/
main ul {
  list-style: none;
  padding: 0;
}

/** FOOTER STYLES **/
