/** GLOBAL STYLES **/

header, section, nav, footer {
  display: block;
}

body {
  font-family: sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  width: 100vw;
}

/** END GLOBAL **/

.wrapper {
  max-width: 100vw;
}

.active {
  background-color: #6cb6ff;
}

.nav-header {
  background-color: black;
  overflow: auto;
  padding: 0 10px 0 10px;
}


.nav-header h3, li {
  float: left;
  color: white;
  width: 5.2em;
  margin: 0;
  padding-top: 15px;
  text-align: center;
}

.nav-header li {
  margin: 0;
  margin-top: 2px;
  height: 2.2em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-header a {
  color: white;
}

.create-header {
  height: 50px;
}

#task-input-field {
  width: 75%;
  height: 2.1em;
  margin-left: 15px;
  margin-top: 9px;
  padding-left: 10px;
  border: 0;
}

.toggle-all-checkbox-container {
  background-color: #a6d3fa;
  border-right: 1px solid #6497c0;
  border-bottom: 1px solid #6497c0;
  float: left;
  width: 2.5em;
  height: 2em;
  margin: 9px 0 9px 9px;
}

.checkbox {
  float: left;
  clear: none;
  margin: .5em;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.task-holder {
  height: 50px;
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 100vw;
  padding: 0;
}

.task-holder p {
  float: left;
  margin: 1em;
  height: 1em;
  color: dimgray

}

.task-holder .checkbox {
  margin: 1em;
  margin-right: 0;
}

.fas {
  color: dimgrey;
  position: absolute;
  right: 20px;
  margin-top: 1.0em;
  cursor: pointer;
}

footer {
  position: fixed;
  background-color: #e9e9e9;
  height: 50px;
  width: 100vw;
  bottom: 0;
}

#total-uncomplete-items {
  text-align: center;
  margin-top: 16px;
}


